$bg_color: rgb(0, 33, 45);


.mapDivStyle {
    width: 100vw;
    height: 600px;
    margin: 0;
    background-color: $bg_color;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }